html,
body {
    overflow: hidden;
    background: white;
}

#global {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background: url('bg.png') no-repeat center center fixed;
    overflow: hidden;
    text-align: center;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.uiimage {
    width: 40%;
    height: 40%;
}

#menucontainer {
    position: absolute;
    top: auto;
    right: 0;
    bottom: 5%;
    left: 0;
    z-index: 2;
}

#menu {
    position: relative;
    display: block;
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    color: #4190bb;
}

#settingcontainer {
    position: absolute;
    top: auto;
    right: 0%;
    bottom: 0%;
    left: 90%;
    z-index: 2;
}

#setting {
    position: relative;
    display: block;
    width: 100%;
    max-width: 600px;
    margin: auto;
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    color: #4190bb;
}

#menu div {
    padding: 0.1em 0 0 0;
    margin: 0 0;
    cursor: pointer;
}

#menu div:hover {
    color: #f66439;
    -webkit-transform: scaleY(1.0);
    transform: scaleY(1.1);
}

#setting div {
    padding: 0.1em 0 0 0;
    margin: 0 0;
    cursor: pointer;
}

#setting div:hover {
    color: #f66439;
    -webkit-transform: scaleY(1.0);
    transform: scaleY(1.1);
}