@-webkit-keyframes anim {
    0% {
        -webkit-transform: translateY(10px)
    }
    50% {
        -webkit-transform: translateY(-10px)
    }
    100% {
        -webkit-transform: translateY(10px)
    }
}

@-moz-keyframes anim {
    0% {
        -moz-transform: translateY(10px)
    }
    50% {
        -moz-transform: translateY(-10px)
    }
    100% {
        -moz-transform: translateY(10px)
    }
}

@-o-keyframes anim {
    0% {
        -o-transform: translateY(10px)
    }
    50% {
        -o-transform: translateY(-10px)
    }
    100% {
        -o-transform: translateY(10px)
    }
}

@keyframes anim {
    0% {
        transform: translateY(10px)
    }
    50% {
        transform: translateY(-10px)
    }
    100% {
        transform: translateY(10px)
    }
}

@-webkit-keyframes animbg {
    0% {
        -webkit-transform: translateY(5px)
    }
    50% {
        -webkit-transform: translateY(-5px)
    }
    100% {
        -webkit-transform: translateY(5px)
    }
}

@-moz-keyframes animbg {
    0% {
        -moz-transform: translateY(5px)
    }
    50% {
        -moz-transform: translateY(-5px)
    }
    100% {
        -moz-transform: translateY(5px)
    }
}

@-o-keyframes animbg {
    0% {
        -o-transform: translateY(5px)
    }
    50% {
        -o-transform: translateY(-5px)
    }
    100% {
        -o-transform: translateY(5px)
    }
}

@keyframes animbg {
    0% {
        transform: translateY(5px)
    }
    50% {
        transform: translateY(-5px)
    }
    100% {
        transform: translateY(5px)
    }
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html,
body {
    overflow: hidden;
    background: white;
}

#global {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background: url('mm_background.png') no-repeat center center fixed;
    overflow: hidden;
    text-align: center;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#title {
    position: absolute;
    top: 5%;
    right: 0;
    bottom: 5%;
    left: 0;
    z-index: 1;
    background: url('logo.png') no-repeat center top;
    -moz-background-size: auto 50%;
    -webkit-background-size: auto 50%;
    -ms-background-size: auto 50%;
    -o-background-size: auto 50%;
    background-size: auto 50%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: animbg 3s ease-in-out infinite;
    -moz-animation: animbg 3s ease-in-out infinite;
    -o-animation: animbg 3s ease-in-out infinite;
    animation: animbg 3s ease-in-out infinite;
}

.uiimage {
    width: 40%;
    height: 40%;
}

#menucontainer {
    position: absolute;
    top: auto;
    right: 0;
    bottom: 5%;
    left: 0;
    z-index: 2;
}

#menu {
    position: relative;
    display: block;
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    color: #4190bb;
}

#settingcontainer {
    position: absolute;
    top: auto;
    right: 0%;
    bottom: 0%;
    left: 90%;
    z-index: 2;
}

#setting {
    position: relative;
    display: block;
    width: 100%;
    max-width: 600px;
    margin: auto;
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    color: #4190bb;
}

#menu div {
    padding: 0.1em 0 0 0;
    margin: 0 0;
    cursor: pointer;
}

#menu div:hover {
    color: #f66439;
    -webkit-transform: scaleY(1.0);
    transform: scaleY(1.1);
}

#setting div {
    padding: 0.1em 0 0 0;
    margin: 0 0;
    cursor: pointer;
}

#setting div:hover {
    color: #f66439;
    -webkit-transform: scaleY(1.0);
    transform: scaleY(1.1);
}


/* #start {
    font-size: 1.8em;
    color: #f66439;
}

#start:hover {
    color: #f8854b !important;
} */

#step-2 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: black;
    vertical-align: bottom;
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 2em;
    background-repeat: no-repeat;
    background-position: center center;
    -moz-background-size: 60% auto;
    -webkit-background-size: 60% auto;
    -ms-background-size: 60% auto;
    -o-background-size: 60% auto;
    background-size: 60% auto;
}

#step-3 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: black;
}

#step-3 #progressbar {
    position: absolute;
    top: 0;
    right: auto;
    bottom: 0;
    left: 0;
    width: 0%;
    background: white;
}

#step-5 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: black;
    text-align: center;
    padding: 100px 20px;
    color: white;
    font-size: 2em;
}

#step-5 #time {
    font-size: 4em
}

#leapinfo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    font-size: 3em;
    padding-top: 200px;
    z-index: 999999;
}

#credits {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    background: black;
    overflow-y: auto;
    text-align: center;
    color: white;
    font-size: 1.1em;
    padding: 40px 20px;
}

#credits h3 {
    font-size: 2em;
    color: #666;
}

#credits b {
    font-size: 1.2em;
    color: #bbb;
}

#credits h4 {
    color: #555;
    font-size: 1.2em;
}